:root{
    --1000: #000000;
    --980: #3d3d3d;
    --950: #023864;
    --800: #005191;
    --600: #0078da;
    --400: #25b2ff;
    --200: #b3e2ff;
    --100: #ddf0ff;
    --100-rgb: 221,240,255;
    --sm: 16px;
    --md: 22px;
    --lg: 28px;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    h1{
        font-size: var(--lg);
    }
    h2{
        font-size: var(--sm);
    }
    h3{
        font-size: var(--md);
    }
}

.inactive{
    display: none;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
    position: fixed;
    background: white;
    width: 100%;
    top: 0;
    z-index: 10;
    img{
        height: 40px;
        padding-left: 32px;
        display: block;
    }
    .web{
        list-style: none;
        display: flex;
        column-gap: 16px;
        padding-right: 32px;
        a{
            text-decoration: none;
            color: var(--980);
        }
        a:hover{
            padding: 4px;
            border-bottom: 3px var(--950) solid;
        }
    }
    button{
        display: none;
        background: none;
        border: none;
        cursor: pointer;
        .menu{
            width: 40px;
            height: 40px;
        }

    }
}
.mobile{
    position: fixed;
    text-align: center;
    top: 64px;
    padding: 16px 0;
    z-index: 99;
    background: white;
    width: 100%;
    li{
        padding: 4px 0;
        a{
            color: var(--950);
            text-decoration: none;
        }
    }
}
.wsp-info{
    height: 64px;
    z-index: 99;
    position: fixed;
    right: 16px;
    bottom: 16px;
    .wsp{
        height: 64px;
    }
}
main{
    position: relative;
    #Inicio{
        height: 600px;
        align-items: center;
        display: flex;
        justify-content: end;
        color: var(--1000);
        background-image: url("Assets/condominio5.jpg");
        background-position: bottom;
        background-attachment: fixed;
        background-size: cover;
        .title{
            text-align: end;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 40%;
            padding-right: 32px;
            h2{
                color: var(--980);
                font-weight: 400;
            }
            a{
                text-decoration: none;
                padding: 8px 0;
                width: 40%;
                border-radius: 8px;
                margin: 32px 0 0 64px;
                text-align: center;
                color: var(--950);
                /* background: var(--950); */
                border: 1px solid var(--950);
            }
            a:hover{
                background-color: var(--950);
                color: white;
            }
        }
        img{
            height: 300px;
        }
    }
    #Inicio.on{
        .title{
            animation: title 0.6s linear both;
        }
    }
    #Especialidades{
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 500px;
        justify-content: center;
        row-gap: 64px;
        color: var(--1000);
        padding: 0 32px;
        background-color: white;
        .especialidades{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 32px;
            .card-especialidades{
                .box{
                    display: flex;
                    align-items: center;
                    column-gap: 16px;
                    .icon{
                        width: 8px;
                        height: 8px;
                        background: var(--950);
                    }
                }
                p{
                    color: var(--980);
                }
            }
        }
    }
    #Servicios{
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--1000);
        flex-direction: column;
        row-gap: 64px;
        padding: 0 32px;
        .servicios{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            column-gap: 24px;
            .card-padre{
                /* background-image: url(Assets/condominio5.jpg); */
                height: 320px;
                border-radius: 8px;
                background-size: cover;
                background-position: center;
                cursor: pointer;
                box-shadow: 4px 4px 4px var(--100);
                .first-div{
                    height: 50%;
                }
                .card{
                    padding: 0 24px;
                    color: var(--1000);
                    /* justify-content: center;
                    display: flex;
                    flex-direction: column; */
                    text-align: justify;
                    /* box-shadow: 2px 4px 8px var(--100); */
                    height: 50%;
                    background-color: rgba(var(--100-rgb), 0.8);
                    border-radius: 0 0 8px 8px;
                    .title-card{
                        display: flex;
                        justify-content: center;
                        padding-top: 16px;
                    }
                    .service{
                        display: block;
                        color: var(--980);
                    }
                    .info-service{
                        display: none;
                    }
                    
    
                }
            }
            .card-padre:hover{
                .first-div{
                    height: 0%;
                }
                .card{
                    height: 100%;
                }
                transform: scale(1.05);
                .service{
                    display: none;
                }
                .info-service{
                    display: block;
                    animation: info-service 0.5s linear both;
                    color: var(--980);
                    padding-top: 8px;
                    a{
                        text-decoration: none;
                        display: block;
                        color: var(--950);
                        text-align: center;
                        border-radius: 8px;
                        padding: 8px 0;
                        border: 1px solid var(--950);
                    }
                    a:hover{
                        background: var(--950);
                        color: white;
                    }
                }
                
            }
            img{
                height: 32px;
            }
        }
    }
    #Especialista{
        height: 520px;
        display: flex;
        align-items: center;
        padding: 0 32px;
        justify-content: space-between;
        column-gap: 64px;
        color: var(--1000);
        text-align: justify; 
        .content{
            width: 60%;
            max-height: 80%;
            color: var(--980);
            h2{
                font-weight: 380;
            }
            p{
                color: var(--980);
            }
            .perfil-mobile{
                background-color: var(--100);
                border-radius: 8px;
                display: none;
                width: 320px;
            }
            a{
                text-decoration: none;
                color: var(--950);
                font-size: 18px;
            }
            .flecha{
                width: 20px;
            }
            .content-bottom{
                display: flex;
                align-items: center;
            }
        }
        .perfil{
            background-color: var(--100);
            border-radius: 8px;
            width: 320px;
            cursor: pointer;
        }
    }
    #Contacto{
        height: 350px;
        background: linear-gradient(var(--100),white);
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: var(--1000);
        /* flex-direction: column; */
        padding: 0 32px;
        border-radius: 16px;
        /* margin: 0 16px; */
        .imgs{
            /* display: flex;
            column-gap: 128px;
            align-items: center; */
            .icon-contact{
                display: flex;
                column-gap: 8px;
                align-items: center;
                margin-bottom: 4px;
                .icons{
                    width: 20px;
                    cursor: pointer;
                }
            }
            /* p{
                margin-bottom: 4px;
            } */
        }
        .logo-contact{
            height: 40px;
            margin-bottom: 16px;
        }
        .rs-row{
            /* position: relative;
            top: 80px; */
            display: flex;
            flex-direction: column;
            .rs{
                height: 32px;
            }
            .rs:hover{
                transform: scale(1.2);
            }
        }
        
    }
}
footer{
    height: 64px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    color: var(--1000);
    a{
        text-decoration: none;
        color: var(--950);
    }
}

@keyframes title {
    100%{
        transform: translateY(0);
    }
    0%{
        transform: translateY(100px);
    }
}

@keyframes info-service {
    100%{
        transform: translateY(0);        
    }
    0%{
        transform: translateY(100px);
    }
}

@media (min-width:600px) and (max-width:766px) {
    nav{
        img {
            padding-left: 16px;
          }
        .web{
            padding-right: 16px;
            column-gap: 8px;
        }
    }
    main{
        #Inicio{
            .title{
                padding-right: 16px;
            }
        }
        #Especialidades{
            padding: 0 16px;
        }
        #Servicios{
            height: 100%;
            padding: 32px 0;
            .servicios{
                grid-template-columns: repeat(2,1fr);
                row-gap: 32px;
                padding: 0 16px;
            }
        }
        #Especialista {
            column-gap: 16px;
            .content {
              max-height: 100%;
            }
            .perfil {
                width: 50%;
            }
          }
    }
}

@media (max-width:600px) {
    nav{
        img {
            padding-left: 16px;
          }
        .web{
            display: none;
        }
        button{
            display: block;
            padding-right: 16px;
        }
    }
    main{
        top: 64px;
        #Inicio{
            justify-content: center;
            .title{
                width: 90%;
                padding: 0;
                text-align: center;
                a{
                    margin: 32px 0 0 0;
                    width: 50%;
                }
            }
        }
        #Especialidades {
            row-gap: 8px;
            padding: 0 16px;
            .especialidades {
                grid-template-columns: repeat(2,1fr);
                grid-gap: 16px;
            }
          }
        #Servicios{
            height: 100%;
            padding: 32px 32px;
            .servicios{
                grid-template-columns: repeat(1,1fr);
                row-gap: 32px;
                .card-padre:hover{
                    transform: none;
                }
            }
        }
        #Especialista {
            height: 100%;
            padding-top: 32px;
            .content {
                max-height: 100%;
                width: 100%;
                align-items: center;
                display: flex;
                flex-direction: column;
                row-gap: 16px;
                padding: 16px 0;
                .perfil-mobile{
                    display: block;
                }
            }
            .perfil {
                display: none;
            }
        }
        #Contacto {
            flex-direction: column;
            .logo-contact{
                padding-bottom: 8px;
            }
            .imgs{
                display: block;
            }
            .rs-row{
                display: block;
            }
        }
    }
    footer{
        top: 64px;
        display: block;
        padding: 16px 0;
        text-align: center;
    }
}