:root{
    --1000: #000000;
    --980: #3d3d3d;
    --950: #023864;
    --800: #005191;
    --600: #0078da;
    --400: #25b2ff;
    --200: #b3e2ff;
    --100: #ddf0ff;
    --sm: 16px;
    --md: 22px;
    --lg: 28px;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    h1{
        font-size: var(--lg);
    }
    h2{
        font-size: var(--sm);
    }
    h3{
        font-size: var(--md);
    }
}

.inactive{
    display: none;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
    position: fixed;
    background: white;
    width: 100%;
    top: 0;
    z-index: 10;
    img{
        height: 48px;
        padding-left: 64px;
        display: block;
    }
    .web{
        list-style: none;
        display: flex;
        column-gap: 16px;
        padding-right: 64px;
        a{
            text-decoration: none;
            color: var(--980);
        }
        a:hover{
            padding: 4px;
            /* border-radius: 4px; */
            border-bottom: 3px var(--950) solid;
        }
    }
    button{
        display: none;
        background: none;
        border: none;
        cursor: pointer;
        .menu{
            width: 40px;
            height: 40px;
        }

    }
}
.mobile{
    position: relative;
    text-align: center;
    top: 64px;
    padding: 16px 0;
    li{
        padding: 4px 0;
        a{
            color: var(--950);
            text-decoration: none;
        }
    }
}
.wsp-info{
    height: 64px;
    z-index: 99;
    position: fixed;
    right: 16px;
    bottom: 16px;
    .wsp{
        height: 64px;
    }
}
main{
    position: relative;
    top: 64px;
    #Inicio{
        height: 600px;
        align-items: center;
        display: flex;
        justify-content: end;
        color: var(--1000);
        background-image: url("Assets/condominio5.jpg");
        background-position: bottom;
        background-attachment: fixed;
        background-size: cover;
        .title{
            text-align: end;
            display: flex;
            flex-direction: column;
            align-items: center;
            animation: title 0.6s linear both;
            width: 40%;
            padding-right: 16px;
            h2{
                color: var(--980);
            }
            a{
                text-decoration: none;
                padding: 8px 0;
                width: 40%;
                border-radius: 4px;
                margin: 32px 0 0 64px;
                text-align: center;
                color: white;
                background: var(--950);
            }
            /* a:hover{
                color: 1000;
                background: none;
            } */
        }
        .title{
        }
        img{
            height: 300px;
        }
    }
    #Especialidades{
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 500px;
        justify-content: center;
        row-gap: 64px;
        color: var(--1000);
        padding: 0 32px;
        background-color: white;
        .especialidades{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 32px;
            .card-especialidades{
                .box{
                    display: flex;
                    align-items: center;
                    column-gap: 16px;
                    .icon{
                        width: 8px;
                        height: 8px;
                        background: var(--950);
                    }
                }
                p{
                    color: var(--980);
                }
            }
        }
    }
    #Servicios{
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--100);
        color: var(--1000);
        flex-direction: column;
        row-gap: 64px;
        .servicios{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            column-gap: 24px;
            padding: 0 32px;
            .card{
                height: 320px;
                background: var(--100);
                color: var(--1000);
                justify-content: center;
                display: flex;
                flex-direction: column;
                border-radius: 8px;
                padding: 0 24px;
                text-align: justify;
                .title-card{
                    display: flex;
                    column-gap: 8px;
                    justify-content: center;
                    align-items: center;
                }
                .service{
                    display: block;
                    color: var(--980);
                }
                .info-service{
                    display: none;
                }
                

            }
            .card:hover{
                transform: scale(1.1);
                .service{
                    display: none;
                }
                .info-service{
                    display: block;
                    animation: info-service 0.5s linear both;
                    color: var(--980);
                    a{
                        text-decoration: none;
                        display: block;
                        color: var(--100);
                        text-align: center;
                        background: var(--950);
                        border-radius: 4px;
                        padding: 4px;
                    }
                    a:hover{
                        background: var(--100);
                        color: var(--950);
                        border: 1px solid;
                    }
                }
                
            }
            img{
                height: 32px;
            }
        }
    }
    #Especialista{
        height: 520px;
        display: flex;
        align-items: center;
        padding: 0 32px;
        justify-content: center;
        column-gap: 64px;
        color: var(--1000);
        text-align: justify; 
        .content{
            width: 60%;
            max-height: 80%;
            p{
                color: var(--980);
            }
            .perfil-mobile{
                background-color: var(--980);
                border-radius: 8px;
                display: none;
                width: 320px;
            }
        }
        .perfil{
            background-color: var(--980);
            border-radius: 8px;
            width: 320px;
        }
    }
    #Contacto{
        height: 350px;
        background: var(--100);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--1000);
        flex-direction: column;
        padding: 0 32px;
        .imgs{
            display: flex;
            column-gap: 128px;
            align-items: center;
        }
        .logo-contact{
            height: 48px;
            /* filter: invert(100%); */
        }
        .rs-row{
            position: relative;
            top: 100px;
            .rs{
                height: 32px;
                /* filter: invert(100%); */
            }
        }
        
    }
}
footer{
    height: 64px;
    position: relative;
    top: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    color: var(--1000);
    a{
        text-decoration: none;
        color: var(--950);
    }
}

@keyframes title {
    100%{
        transform: translateX(0);
    }
    0%{
        transform: translateX(100px);
    }
}

@keyframes info-service {
    100%{
        transform: translateY(0)
    }
    0%{
        transform: translateY(100px);
    }
}

@media (min-width:600px) and (max-width:766px) {
    nav{
        img {
            padding-left: 16px;
          }
        .web{
            padding-right: 16px;
            column-gap: 8px;
        }
    }
    main{
        #Servicios{
            height: 100%;
            padding: 32px 0;
            .servicios{
                grid-template-columns: repeat(2,1fr);
                row-gap: 32px;
            }
        }
        #Especialista {
            column-gap: 16px;
            .content {
              max-height: 100%;
            }
            .perfil {
                width: 50%;
            }
          }
    }
}

@media (max-width:600px) {
    nav{
        img {
            padding-left: 16px;
          }
        .web{
            display: none;
        }
        button{
            display: block;
            padding-right: 16px;
        }
    }
    main{
        #Inicio{
            justify-content: center;
            .title{
                width: 90%;
                padding: 0;
                text-align: center;
                a{
                    margin: 32px 0 0 0;
                }
            }
        }
        #Especialidades {
            row-gap: 8px;
            .especialidades {
                grid-template-columns: repeat(2,1fr);
                grid-gap: 16px;
            }
          }
        #Servicios{
            height: 100%;
            padding: 32px 0;
            .servicios{
                grid-template-columns: repeat(1,1fr);
                row-gap: 32px;
                .card:hover{
                    transform: none;
                }
            }
        }
        #Especialista {
            /* background-image: url(Assets/perfil.png); */
            height: 100%;
            .content {
                max-height: 100%;
                width: 100%;
                align-items: center;
                display: flex;
                flex-direction: column;
                row-gap: 16px;
                padding: 16px 0;
                .perfil-mobile{
                    display: block;
                }
            }
            .perfil {
                display: none;
            }
        }
        #Contacto {
            .logo-contact{
                padding-bottom: 8px;
            }
            .imgs{
                display: block;
            }
            .rs-row{
                top: 60px;
            }
        }
    }
}